<heml>
  <head>
    <!--subject>Need Help Deploying?</subject-->
    <!--preview>We're here to help</preview-->
    <style>
      body {
        padding: 10px;
        background: #FFF;
      }
      container {
        max-width: 500px;
      }
      .right {
        text-align: right;
      }
      container#main {
        background-color: #F5F5F5;
      }
      h1 {
        font-weight: bold;
        font-size: 24px;
      }
      .small {
        color: #CCC;
        font-size: 10px;
        line-height: 14px;
      }
      .small a {
        color: #CCC;
        text-decoration: none;
      }
      button {
        background-color: #425AE6;
        padding: 15px;
      }
    </style>
  </head>
  <body>
    <container>
      <row>
        <column>
          <br/>
        </column>
      </row>
      <row>
        <column large="11" small="11">
          <a href="https://gigalixir.com">
            <img width="157" height="43" src="https://gigalixir.com/images/gigalixir_logo.png" alt="Gigalixir" />
          </a>
        </column>
        <column large="1" small="1">
          <p>
            <a href="https://twitter.com/gigalixir">
             <img width="24" height="24" src="https://raw.githubusercontent.com/SparkPost/heml/master/examples/assets/twitter.png"/>
            </a>
          </p>
        </column>
      </row>
    </container>
    <container id="main">
      <row>
        <column large="2" small="2">&nbsp;</column>
        <column large="8" small="8">
          <br/>
          <h1>
            <div data-slot-container="1">
              <div data-slot="text">
                Just Hit Reply
              </div>
            </div>
          </h1>
          <p>
            <div data-slot-container="1">
              <div data-slot="text">
                If there's anything we can do to help you get going, just hit reply.
                For step by step instructions on how to deploy, click the button below.
              </div>
            </div>
            <br/>
          </p>
          <p>
            <div data-slot-container="1">
              <div data-slot="button">
                <button>Getting Started Guide</button>
              </div>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
          </p>
        </column>
        <column large="2" small="2">&nbsp;</column>
      </row>
    </container>
    <container>
      <row>
        <column>
          <p class="small">
            %Unsubscribe%
            <br/>
            © 2020 Invisible Software
            <a href="https://www.gigalixir.com/terms-of-service.html">Terms of Service</a>
            <a href="https://www.gigalixir.com/privacy-policy.html">Privacy Policy</a>
            <a href="https://blog.gigalixir.com/">Blog</a>
          </p>
        </column>
      </row>
    </container>
  </body>
</heml>
